<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    {% block scripts %}

    {% endblock %}
    <title>{% block title %} MySite {% endblock %}</title>
    <style>
        {% block style %}
        body {
            background-image: url(https://video-images.vice.com/articles/5d44c9622980b0000824a7e3/lede/1564789576071-GettyImages-949118068.jpeg?crop=1xw:0.8419xh;0xw,0.1581xh&resize=1400:*);
            background-repeat: no-repeat;
            color: #5d5b61;
            background-size: cover;
            background-attachment: scroll;

        }

        {% endblock %}
    </style>
</head>
<body>
<div class="container-fluid" style="width: 1500px; margin: auto">
    <nav class="navbar navbar-expand navbar-dark bg-info" style="width: auto">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">My book site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/">Main page <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/admin">Admin page</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Lists</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://127.0.0.1:8000/books">Books list</a>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/libraries">Libraries list</a>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/authors">Authors list</a>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/genres">Genres list</a>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/cities">Cities list</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Nothing interesting here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="https://github.com/jelly-Boy/my_books_site">Repository with my
                        project</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search is not working yet</button>
            </form>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>

